class Album(Base):
    ''' 写真集类型 '''
    __tablename__ = 'photo_album'
    pic_id = Column(Integer, primary_key=True)
    title = Column(String(200))
    category_tag = Column(String(100))
    upload_time = Column(DateTime)
    clicks = Column(Integer)
    labels = Column(String(200))
    page_count = Column(Integer)
 
CREATE TABLE photo_album(
    pic_id INT,
    title VARCHAR(200),
    category_tag VARCHAR(100),
    upload_time DATETIME,
    clicks INT,
    labels VARCHAR(200),
    page_count INT
);

load data local infile '/home/ydzhang/Downloads/albums.csv' 
into table photo_album
CHARACTER SET utf8
fields terminated by ',' 
ENCLOSED BY '"'
lines terminated by '\r\n'
ignore 1 rows;

In [11]:
import MySQLdb
import pandas as pd

In [24]:
conn = MySQLdb.connect(
    host='127.0.0.1', 
    port=3306, 
    user='root', 
    password='00genius00', 
    database='dingdian_novel', 
    charset='utf8', 
)
cursor = conn.cursor()

In [25]:
conn2 = pymysql.connect(
    host='127.0.0.1', 
    port=3306, 
    user='root', 
    password='00genius00', 
    database='dingdian_novel', 
    charset='utf8', 
    cursorclass=pymysql.cursors.DictCursor
)
cursor2 = conn2.cursor()

In [41]:
query = "SELECT * FROM allvisit LIMIT %s, %s"

### pandas读取mysql

In [23]:
doc = pd.read_sql_query(query, conn)
doc = pd.DataFrame(doc)
doc

,author,catalog_url,latest_chapter,main_page_url,status,title,update_time,words
0,黑暗崛起,http://www.23us.so/files/article/html/2/2982/i...,第3255章 变脸好快,http://www.23us.so/xiaoshuo/2982.html,连载中,特种教师,18-05-04,65183

### MySQLdb

In [43]:
cursor.execute(query, (10, 2)) # 执行query查询语句, 传入两个参数
cursor.fetchall() # 获取查询到的所有的数据，返回一个tuple

(('陨落星辰',
  'http://www.23us.so/files/article/html/9/9155/index.html',
  '第7868章 无凭无据（2）',
  'http://www.23us.so/xiaoshuo/9155.html',
  '连载中',
  '绝品邪少',
  '18-05-04',
  1400730),
 ('笑子风',
  'http://www.23us.so/files/article/html/20/20131/index.html',
  '第四百一十九章相约宴会',
  'http://www.23us.so/xiaoshuo/20131.html',
  '连载中',
  '重生之步步黑化',
  '18-05-05',
  181359))

### pymysql

In [46]:
cursor2.execute(query, (11, 1))
cursor2.fetchall() # 返回的是一个list

[{'author': '笑子风',
  'catalog_url': 'http://www.23us.so/files/article/html/20/20131/index.html',
  'latest_chapter': '第四百一十九章相约宴会',
  'main_page_url': 'http://www.23us.so/xiaoshuo/20131.html',
  'status': '连载中',
  'title': '重生之步步黑化',
  'update_time': '18-05-05',
  'words': 181359}]

# ORM SQLAlchemy

In [1]:
import sqlalchemy
from sqlalchemy import Column, String, Integer
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

In [9]:
engine = create_engine('mysql://root:00genius00@localhost:3306/dingdian_novel?charset=utf8') # 这里一定要主动加上编码
Base = declarative_base()

## ORM 创建数据库

In [3]:
class Novels(Base):
    ''' 小说类型 '''
    __tablename__ = 'allvisit_orm'
    id = Column(Integer, primary_key=True)
    author = Column(String(20))
    catalog_url = Column(String(70))
    latest_chapter = Column(String(50))
    main_page_url = Column(String(70))
    status = Column(String(10))
    title = Column(String(40))
    update_time = Column(String(20))
    words = Column(Integer)

In [4]:
Novels.metadata.create_all(engine) # 已经创建完成了

## ORM 操作数据

In [5]:
from sqlalchemy.orm import sessionmaker

In [6]:
Session = sessionmaker(bind=engine)

In [46]:
class OrmTest():
    
    def __init__(self):
        self.session = Session()
    
    def add_one(self):
        ''' 插入数据 '''
        new_obj = Novels(
            author = '笑子风',
            catalog_url = 'http://www.23us.so/files/article/html/20/20131/index.html',
            latest_chapter = '第四百一十九章相约宴会',
            main_page_url = 'http://www.23us.so/xiaoshuo/20131.html',
            status = '连载中',
            title = '重生之步步黑化',
            update_time = '18-05-05',
            words = 181359,
        )
        
        self.session.add(new_obj)
        self.session.commit()
    
    def get_one(self):
        ''' 查询数据 '''
        return self.session.query(Novels).get(1)

    
    def get_more(self):
        ''' 查询多条数据 '''
        return self.session.query(Novels).filter(Novels.words>10000) # 更多方法要看api文档
    
    def update(self):
        obj = self.session.query(Novels).get(1)
        obj.words = 1989898989
        self.session.add(obj)
        self.session.commit() # 修改删除新增，都要加上commit

In [47]:
obj = OrmTest()
res = obj.get_more()
for item in res:
    print(item.id)

1
2

## 尝试利用ORM查询已经存在的数据（等待解决）